.form-container{
  width: 800px;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}


.form-container input{
  width: 600px;
  font-size: 20px;
  padding: 10px;
}

.form-container button{
  background-color: #a90000;
  padding: 16px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  cursor: pointer;
}
