@font-face{
  font-family: onepiece;
  src: url(./font/onePiece.ttf);
}


.title{
  font-family: onepiece;
  font-size: 5rem;
  text-align: center;
  color:#a90000;
}

.app{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.luffy{
  position: absolute;
  left: 0;
}
